.freeImg-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}

.img-download {
  width: 80%;
  text-align: center;
}

.img-cover {
  box-sizing: border-box;
  border: 6px solid black;
  /* width: 65%; */
}