:root {
  --primary: #060606;
	--medBlue: #a7aaac;
	--lightBlue: #888888;
	--rose: #f8d4ce;
	--white: #fff;
	--gray: #eeeeee;
	--dark: #222222;
	--TitleFont: 'Rokkitt', serif;
	--pFont: 'Open Sans', sans-serif;
}

/*
--primary: #3b5ca9;
	--medBlue: #4e9bcb;
	--lightBlue: #c0ddef;
	--rose: #f8d4ce;
	--white: #fff;
	--gray: #eeeeee;
	--dark: #222222;
	--TitleFont: 'Rokkitt', serif;
	--pFont: 'Open Sans', sans-serif;
*/

html{
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body {
	font-family: var(--mainFont);
	min-height: 100%;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0;
}

/* ---------------------------------- */
   
/*  GLOBAL STYLES */

/* ---------------------------------- */
.container {
	max-width: 1200px;
	width: 100%;
  margin: 0 auto;
}

/*  TYPOGRAPHY */
h1, h2, p {
	margin: 0;
	padding: 0;
}
h2 {
	font-family: var(--TitleFont);
	font-size: 1.75rem;
	line-height: 1.75rem;
	letter-spacing: 1px;
	color: gray;
}

h3 {
	color: var(--primary);
}

p {
	letter-spacing: 1px;
	line-height: 1.25rem;
	color:black;
	font-family: var(--pFont);
	font-weight: 600;
	font-size: .75rem;
}



.dark-text {
	color: var(--primary);
}

/*  IMAGES */
img {
	width: 100%;
	display: block; 
}

/*  BUTTONS */
.btns {
	display: inline-block;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	padding: .40rem .65rem;
	text-decoration: none;
	font-size: .75rem;
	letter-spacing: 2.2px;
}

.btn-full:link,
.btn-full:visited {
	border: 2px solid rgb(40, 40, 40);
	color: rgb(50, 50, 50);
}

.btn-full:hover{
	border: 2px solid #c1c1c1;
	color: #484848;
}

.btn-med-blue:link,
.btn-med-blue:visited {
	border: 2px solid #3b5ca9;
	color: var(--primary);
}

.btn-med-blue:hover{
	border: 2px solid rgb(57, 57, 57);
	color: rgb(45, 45, 45);
}